{% extends 'base.html' %}

{% block content %}

<div style="
max-width:500px;
margin:auto;
padding:20px;">

<h2>📂 Nueva Categoría</h2>

<form method="POST">
{% csrf_token %}

<input
type="text"
name="nombre"
placeholder="Nombre categoría"
required
style="
width:100%;
padding:12px;
margin-bottom:15px;">

<button
type="submit"
style="
width:100%;
padding:12px;
background:#25D366;
color:white;
border:none;
border-radius:8px;">
Guardar
</button>

</form>

<div style="
max-width:600px;
margin:auto;
padding:20px;">

<h2>💎 Nuevo Producto</h2>

<form method="POST"
      enctype="multipart/form-data">

{% csrf_token %}

<input type="text"
name="nombre"
placeholder="Nombre producto"
required>

<br><br>

<select name="categoria" required>

<option value="">
Seleccione categoría
</option>

{% for categoria in categorias %}
<option value="{{ categoria.id }}">
{{ categoria.nombre }}
</option>
{% endfor %}

</select>

<br><br>

<input type="number"
name="precio"
placeholder="Precio detal">

<br><br>

<input type="number"
name="stock"
placeholder="Stock">

<br><br>

<textarea
name="descripcion"
placeholder="Descripción">
</textarea>

<br><br>

<input type="file"
name="imagen"
accept="image/*">

<br><br>

<button type="submit">
💾 Guardar Producto
</button>

</form>

</div>

{% endblock %}