{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-container">

    <div class="login-box">

        <!-- LOGO (opcional pero recomendado) -->
        <img src="{% static 'img/logo.jpg' %}" class="login-logo">

        <h2>🔐 Iniciar sesión</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="👤 Usuario" required>

            <input type="password" name="password" placeholder="🔒 Contraseña" required>

            <button type="submit">Ingresar</button>
        </form>

        <!-- MENSAJES -->
        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}

    </div>

</div>

{% endblock %}
