{% extends 'base.html' %}

{% block content %}

<div style="padding:20px;">

<h2>📦 Mis Productos</h2>

<a href="{% url 'crear_producto' %}"
style="
display:inline-block;
padding:10px 15px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:8px;
margin-bottom:20px;">
➕ Nuevo Producto
</a>

{% for producto in productos %}

<div style="
border:1px solid #ddd;
padding:15px;
margin-bottom:15px;
border-radius:10px;">

{% if producto.imagen_principal %}
    <img src="{{ producto.imagen_principal.url }}"
         width="120">
{% endif %}


<h3>{{ producto.nombre }}</h3>

<p>
🏷️ SKU: {{ producto.referencia }}
</p>

<p>
📂 {{ producto.categoria.nombre }}
</p>

<p>
📦 Stock: {{ producto.stock }}
</p>

<p>
💰 ${{ producto.precio_detal }}
</p>

<div style="
    display:flex;
    gap:10px;
    margin-top:15px;
    flex-wrap:wrap;
">

    <a href="{% url 'editar_producto' producto.id %}"
    style="
        background:#007bff;
        color:white;
        padding:8px 12px;
        text-decoration:none;
        border-radius:6px;
    ">
        ✏️ Editar
    </a>

    <a href="{% url 'eliminar_imagen_producto' producto.id %}"
    style="
        background:#ffc107;
        color:black;
        padding:8px 12px;
        text-decoration:none;
        border-radius:6px;
    ">
        🖼️ Eliminar imagen
    </a>

    <a href="{% url 'eliminar_producto' producto.id %}"
    style="
        background:#dc3545;
        color:white;
        padding:8px 12px;
        text-decoration:none;
        border-radius:6px;
    ">
        🗑️ Eliminar producto
    </a>

</div>
</div>

{% empty %}

<p>No tienes productos creados.</p>

{% endfor %}

</div>

{% endblock %}
