{% extends 'base.html' %}

{% block content %}

{% load moneda %}

<div style="padding:20px;">

<h2>📦 Mis Productos</h2>

<a href="{% url 'crear_producto' %}"
style="
display:inline-block;
padding:10px 15px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:8px;
margin-bottom:20px;">
➕ Nuevo Producto
</a>

{% for producto in productos %}

<div style="
border:1px solid #ddd;
padding:15px;
margin-bottom:15px;
border-radius:10px;">

{% if producto.imagen_principal %}
    <img src="{{ producto.imagen_principal.url }}"
         width="120">
{% endif %}


<h3>{{ producto.nombre }}</h3>

{% if producto.destacado %}
<span style="
background:#fff3cd;
padding:5px 8px;
border-radius:5px;
font-size:12px;
font-weight:bold;">
⭐ DESTACADO
</span>
{% endif %}
<p>
🏷️ SKU: {{ producto.referencia }}
</p>

<p>
📷 Imágenes: {{ producto.imagenes.count }}
</p>

<p>
📂 {{ producto.categoria.nombre }}
</p>

<p>
📦 Stock: {{ producto.stock }}
</p>
{% if producto.stock_total > 20 %}
<p style="color:green;font-weight:bold;">
✅ Inventario alto
</p>

{% elif producto.stock_total > 5 %}
<p style="color:orange;font-weight:bold;">
⚠️ Inventario medio
</p>

{% elif producto.stock_total > 0 %}
<p style="color:red;font-weight:bold;">
🔥 Últimas unidades
</p>

{% else %}
<p style="color:red;font-weight:bold;">
❌ Agotado
</p>
{% endif %}

<p>
💰 ${{ producto.precio_detal|moneda }}
</p>

<div>
    💰 Detal: ${{ producto.precio_detal|moneda }}
</div>

<div>
    🏭 Costo: ${{ producto.precio_costo|moneda }}
</div>

<div style="color:green;font-weight:bold;">
    📈 Utilidad Detal:
    ${{ producto.utilidad_detal|moneda }}
</div>

<div style="color:#0d6efd;">
    📈 Utilidad SemiMayor:
    ${{ producto.utilidad_semimayor|moneda }}
</div>

<div style="color:#6f42c1;">
    📈 Utilidad Mayorista:
    ${{ producto.utilidad_mayor|moneda }}
</div>

<div style="
    display:flex;
    gap:10px;
    margin-top:15px;
    flex-wrap:wrap;
">

    <a href="{% url 'editar_producto' producto.id %}"
    style="
        background:#007bff;
        color:white;
        padding:8px 12px;
        text-decoration:none;
        border-radius:6px;
    ">
        ✏️ Editar
    </a>

    <a href="{% url 'eliminar_imagen_producto' producto.id %}"
    style="
        background:#ffc107;
        color:black;
        padding:8px 12px;
        text-decoration:none;
        border-radius:6px;
    ">
        🖼️ Eliminar imagen
    </a>

    <a href="{% url 'eliminar_producto' producto.id %}"
    style="
        background:#dc3545;
        color:white;
        padding:8px 12px;
        text-decoration:none;
        border-radius:6px;
    ">
        🗑️ Eliminar producto
    </a>

</div>
</div>

{% empty %}

<p>No tienes productos creados.</p>

{% endfor %}

</div>

{% endblock %}
