{% extends 'base.html' %}

{% block content %}

<div style="padding:20px;">

<h2>📦 Mis Productos</h2>

<a href="{% url 'crear_producto' %}"
style="
display:inline-block;
padding:10px 15px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:8px;
margin-bottom:20px;">
➕ Nuevo Producto
</a>

{% for producto in productos %}

<div style="
border:1px solid #ddd;
padding:15px;
margin-bottom:15px;
border-radius:10px;">

{% if producto.imagen_principal %}
    <img src="{{ producto.imagen_principal.url }}"
         width="120">
{% endif %}


<h3>{{ producto.nombre }}</h3>

<p>
📂 {{ producto.categoria.nombre }}
</p>

<p>
📦 Stock: {{ producto.stock }}
</p>

<p>
💰 ${{ producto.precio_detal }}
</p>

<a href="{% url 'eliminar_producto' producto.id %}"
style="color:red;">
🗑️ Eliminar
</a>

<a href="{% url 'editar_producto' producto.id %}">
✏️ Editar
</a>

</div>

{% empty %}

<p>No tienes productos creados.</p>

{% endfor %}

</div>

{% endblock %}
