{% load static %}

<h2>✅ Pago confirmado</h2>

<p>Tu pedido <b>{{ pedido.numero_orden }}</b> ha sido registrado como pagado.</p>

<p><b>Total:</b> ${{ pedido.total }} COP</p>

<br>

<p style="color:green; font-weight: bold;">
    ✔️ Gracias por tu compra 💎  
    Pronto estaremos procesando tu envío.
</p>

<br><br>

<a href="/" style="
    background: #121212;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
">
    🏠 Volver a la tienda
</a>
    